APP_URL=http://localhost:3000
PORT=3000
DATABASE_PATH=./data/database.db
UPLOAD_DIR=./data/uploads
FRONTEND_DIST_DIR=./frontend/out
ADMIN_DIST_DIR=./frontend/out/admin
CZL_CONNECT_CLIENT_ID=
CZL_CONNECT_CLIENT_SECRET=
AUTH_CALLBACK_URL=http://localhost:3000/api/auth/callback
